
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Playlist admin - écran principal</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Dashboard example CSS -->
    <link href="/css/dashboard.css" rel="stylesheet">

    <style>
    .thumb {
      max-width: 128px;
    }
    </style>

  </head>

  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/admin/main">Infos/Vidéos/Pub <span class="sr-only">(current)</span></a></li>
            <li><a href="/admin/songs">Titre en cours</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Affichage principal (Infos/Vidéos/Pub)</h1>

          <h2 class="sub-header">Vidéo Youtube</h2>
         
          <form id="video_youtube" method="post">
          <input id="video_url" name="video_url" placeholder="Copier/coller URL vidéo" />
          <input type="submit" class="btn btn-primary" value="Go &raquo;" />
          </form>

          <h2 class="sub-header">Présentations Sozi</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Présentation</th>
                </tr>
              </thead>
              <tbody id="pres-list">
                {{#presentations}}
                  <tr>
                    <td>{{.}}</td>
                  </tr>
                {{/presentations}}
              </tbody>
            </table>
          </div>

          <h2 class="sub-header">Images</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Fichier image</th>
                  <th>Aperçu</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="img-list">
                {{#images}}
                  <tr>
                    <td>{{.}}</td>
                    <td><img class="thumb" src="/images/{{.}}" alt="{{.}}" /></td>
                    <td><button type="button" class="btn btn-sm" data-src="/images/{{.}}">Afficher</button>
                  </tr>
                {{/images}}
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script type="text/javascript">
      $(document).ready(() => {
        $('#video_youtube').submit(e => {
          var $inputUrl = $('input[name="video_url"]');
          e.preventDefault();
          const data = {
            url: $inputUrl.val()
          };
          $inputUrl.val('');
          $.post( '/admin/youtube', data, data => {
            console.log(data);
            // $('#list-body').append('<tr><td>' + data.id + '</td><td>' + data.title + '</td></tr>');
          }, 'json');
        });

        $('#img-list').find('button').click(e => {
          var $btn = $(e.target);
          var imageUrl = $btn.data('src');
          var data = {
            type: 'image', url: imageUrl
          };
          $.post( '/admin/display', data, data => {
            console.log(data);
            // $('#list-body').append('<tr><td>' + data.id + '</td><td>' + data.title + '</td></tr>');
          }, 'json');
        });
      });
    </script>
  </body>
</html>
