
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Playlist client</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/slideshow.css" rel="stylesheet">
    <link href="/css/front.css" rel="stylesheet">

  </head>

  <body>

    <div class="container-fluid">
      <div class="row" id="content-wrapper">
        <div class="col col-md-12">
          <!-- Contenu (pub/infos/vidéos) ici -->
          <!-- <iframe src="/sozi/first.html" type="image/svg+xml" id="content"></iframe> -->
          
          <div id="content" class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-timeout="3000">
            <div class="cycle-caption"></div>
          </div>

        </div> 
      </div>
      <div class="row" id="songs">
        <div class="col col-md-12">
          <p>Titre en cours: {{current}}</p>
          <p>Titre précédent: {{previous}}</p>
        </div> 
      </div>
      
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/socket.io-1.4.5.js"></script>
    <script src="/js/jquery.cycle2.js"></script>
    <script>
      var socket = io.connect('{{{socketIoUrl}}}');
      var current = '{{current}}';
      var previous = '{{previous}}';
      socket.on('newSong', function (data) {
        // console.log(data);
        previous = current;
        current = data.songTitle;
        $('#songs').replaceWith('<div class="row" id="songs"><p>Titre en cours: ' + current + '</p><p> Titre précédent: ' + previous + '</p></div>');
        // socket.emit('my other event', { my: 'data' });
      });

      socket.on('video', function (data) {
        console.log(data);
        $('#content').replaceWith('<iframe id="content" type="text/html" src="http://www.youtube.com/embed/' + data.videoId + '?autoplay=1&origin=http://example.com" frameborder="0"/>');
        // socket.emit('my other event', { my: 'data' });
      });

      socket.on('sozi', function (data) {
        console.log(data);
        $('#content').replaceWith(' <iframe src="/sozi/' + data.name + '" type="image/svg+xml" id="content" frameborder="0"/>');
        // socket.emit('my other event', { my: 'data' });
      });

      socket.on('slideshow', function (data) {
        console.log(data);
        $('#content').replaceWith('<div id="content" class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-timeout="5000"><div class="_cycle-caption"></div></div>');
        $('#content').cycle();
        for (var i=0; i < data.images.length; i++) {
          $('#content').cycle('add', data.images[i]);
        }
        // socket.emit('my other event', { my: 'data' });
      });


      // $('slideshow').style.display='none';
      // $('#wrapper').style.display='block';
      // var slideshow=new TINY.slideshow("content");
      // window.onload=function(){
      //   slideshow.auto=true;
      //   slideshow.speed=5;
      //   slideshow.link="linkhover";
      //   slideshow.info="information";
      //   slideshow.thumbs="slider";
      //   slideshow.left="slideleft";
      //   slideshow.right="slideright";
      //   slideshow.scrollSpeed=4;
      //   slideshow.spacing=5;
      //   slideshow.active="#fff";
      //   slideshow.init("slideshow","image","imgprev","imgnext","imglink");
      // }

    </script>
  </body>
</html>
